<%- include('../partials/_html-head.ejs', {title: 'Sign-Up'}) %>
<%- include('../partials/_nav-bar.ejs') %>
<main class="container">
  <h1>Create a new account!</h1>
  <div class="container">
    <form action="/auth/sign-up" method="POST">
      <label class="label" for="username">Username:</label>
      <input type="text" name="username" id="username" />

      <label class="label" for="password">Password:</label>
      <input type="password" name="password" id="password" />

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />

      <button class="button" type="submit">Sign up</button>
    </form>
  </div>
</main>
</body>

</html>