<%- include('./partials/_html-head.ejs', {title: 'Home'}) %>
<%- include('./partials/_nav-bar.ejs') %>
<h1>Skyrockit</h1>
<p>A job application tracker.</p>
<a href="/auth/sign-up">Sign up</a>
<a href="/auth/sign-in">Sign in</a>
</body>
</html>
