<%- include('../partials/_html-head.ejs', {title: 'Applications'}) %>
<%- include('../partials/_nav-bar.ejs') %>
  <div class="container is-fluid">
    <h1 class="title">Your Apps</h1>
    <a class="button is-link" href="/users/<%=user._id%>/applications/new">Add an App</a>
  </div>
</body>
</html>
